* text=auto
*.cs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.unity text eol=lf merge=unityyamlmerge
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.ogg binary

